body {
	font-family: 'Montserrat', sans-serif;
}

.container {
	padding-left: 4%;
	padding-right: 4%;
	padding-bottom: 3rem;
}

.dark {
	background-color: #474853;
	color: #fff;
}

a {
	text-decoration: underline;
	color: inherit;
}

a:hover {
	color: #4A86E8;
}

h1 {
	color: #474853;
	font-size: 3em;
	text-align: center;
	padding-top: 5rem;
	padding-bottom: 1em;
	font-weight: bold;
}

header h1 span {
	color: #29C3A6;
}

header h1:before {
	content: '';
	display: inline-block;
	background-image: url('../img/logo.png');
	width: 170px;
	height: 138px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	vertical-align: middle;
	margin-right: 1em;
}

h2 {
	font-size: 1.7em;
	font-weight: bold;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

header .description {
	text-align: justify;
	line-height: 1.3;
	padding: 0 2em 5rem;
	width: 70%;
	margin: 0 auto;
	font-size: 1.1em;
}

ol {
	margin-left: 1em;
	font-size: 1.1em;
}

ol li {
	list-style-type: decimal;
	line-height: 1.3;
	margin-bottom: 0.5em;
}

.obs:before {
	content: "*";
	display: inline-block;
	padding-right: 0.5em;
}

.obs {
	line-height: 1.3;
	padding-top: 1em;
	margin-top: 1em;
	border-top: 1px dashed #fff;
	font-size: 1.1em;
}

#vontade-palestrar ~ p,
label[for^=vontade-palestrar] + label ~ label {
	display: none;
}

input {
	position: absolute;
	left: -9999px;
}

.questions {
	padding-top: 3em;
	padding-bottom: 5em;
}

.questions h2 {
	padding-bottom: 1em;
}

.questions .description {
	text-align: left;
	font-size: 1.1em;
	line-height: 1.2;
	color: #fff;
}

.questions p {
	text-align: center;
	font-size: 1.3em;
	margin-bottom: 1em;
	color: #474853;
}

.questions div {
	display: none;
	text-align: center;
	margin-top: 3em;
	border: 1px solid #fff;
    padding: 2em 1em;
    word-break: break-word;
    border-radius: 10px;
    background-color: #ffffff;
}

.questions div a {
	color: #474853;
	text-align: center;
	font-size: 1.3rem;
}

.questions div a:hover {
	color: #4A86E8;
}

.questions div#vontade-palestrar {
	display: block;
}

.questions label[for$=sim] {
	background-color: #2bdfc6;
}

.questions label[for$=sim]:hover {
	background-color: #15c1a7;
}

.questions label[for$=nao] {
	background-color: #F37B7C;
}

.questions label[for$=nao]:hover {
	background-color: #e06969;
}

.questions label {
	padding: 1em;
	border-radius: 10px;
	color: #474853;
	margin: 1em;
	display: inline-block;
	cursor: pointer;
	width: 30%;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.1em;
}

.team {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.team li {
	margin: 1em;
}

.team img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	display: block;
	margin: 0 auto 1em;
}

.team span {
	text-align: center;
	display: block;
	font-size: 1.1em;
}

.apoio {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	align-content: space-around;
}

.apoio li {
	margin: 2em;
	align-self: flex-end;
}

.apoio li a {
	text-align: center;
	display: inline-block;
	font-size: 1.1em;
}

.apoio li img {
	display: block;
	margin-bottom: 1em;
	max-height: 128px;
	max-width: 128px;
}

.apoio li a:hover {
	opacity: 0.8;
}

footer p {
	color: #fff;
	text-align: center;
	padding: 2rem;
}

@media(max-width: 600px) {
	header h1 {
		font-size: 2.5em;
		margin: auto;
		padding-top: 2rem;
	}

	header h1:before {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0.5em;
	}

	header .description {
		padding-bottom: 2rem;
	}

	h2 {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	.container {
		padding-bottom: 2rem;
	}

	.questions {
		padding-top: 0;
	}
}