body {
	font-family: 'Montserrat', sans-serif;
}

.container {
	padding-left: 4%;
	padding-right: 4%;
	padding-bottom: 3rem;
}

.dark {
	background-color: #474853;
	color: #fff;
}

a {
	text-decoration: underline;
	color: inherit;
}

a:hover {
	color: #4A86E8;
}

h1 {
	color: #474853;
	font-size: 3em;
	text-align: center;
	padding-top: 5rem;
	padding-bottom: 1em;
	font-weight: bold;
}

.menu {
	display: flex;
	justify-content: flex-end;
	margin: 1.5em;
}

.menu a {
	align-self: center;
	font-size: 1.2em;
	padding: 1em;
	text-decoration: none;
	color: #474853;
	margin-left: 1em;
}

.menu a.active {
	background-color: #29C3A6;
	color: #fff;
	border-radius: 10px;
}

.menu a:hover {
	color: #29C3A6;
}

.menu a.active:hover {
	color: #474853;
}

header h1 span {
	color: #29C3A6;
}

header h1:before {
	content: '';
	display: inline-block;
	background-image: url('../img/logo.png');
	width: 170px;
	height: 138px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	vertical-align: middle;
	margin-right: 1em;
}

h2 {
	font-size: 1.7em;
	font-weight: bold;
	padding-top: 3rem;
	padding-bottom: 3rem;
	line-height: 1.5;
}

h2.warning {
	padding-bottom: 0;
}

header .slogan {
	text-align: center;
    font-size: 1.5em;
	margin-bottom: 3em;
	color: #474853;
	font-weight: bold;
}

header .description {
	text-align: justify;
	line-height: 1.3;
	padding: 0 2em 5rem;
	width: 70%;
	margin: 0 auto;
	font-size: 1.1em;
}

ol {
	margin-left: 1em;
	font-size: 1.1em;
}

ol li {
	list-style-type: decimal;
	line-height: 1.3;
	margin-bottom: 0.5em;
}

.obs:before {
	content: "*";
	display: inline-block;
	padding-right: 0.5em;
}

.obs {
	line-height: 1.3;
	padding-top: 1em;
	margin-top: 1em;
	border-top: 1px dashed #fff;
	font-size: 1.1em;
}

input {
	position: absolute;
	left: -9999px;
}

.questions {
	padding-top: 3em;
	padding-bottom: 5em;
}

.questions h2 {
	padding-bottom: 1em;
}

.questions .description {
	text-align: left;
	font-size: 1.1em;
	line-height: 1.3;
	color: #474853;
}

.questions p {
	text-align: center;
	font-size: 1.3em;
	margin-bottom: 1em;
	color: #474853;
}

.questions a {
	text-align: center;
	display: block;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
    font-size: 1.2em;
	color: #29C3A6;
	border: 3px solid #474853;
	margin-top: 2em;
    padding: 2em 1em;
    border-radius: 10px;
    background-color: #ffffff;
}

.questions a:hover {
	background-color: #29C3A6;
	color: #474853;
}

.team {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.team li {
	margin: 1em;
}

.team img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	display: block;
	margin: 0 auto 1em;
}

.team span {
	text-align: center;
	display: block;
	font-size: 1.1em;
}

.apoio {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	align-content: space-around;
}

.apoio li {
	margin: 2em;
	align-self: flex-end;
}

.apoio li a {
	text-align: center;
	display: inline-block;
	font-size: 1.1em;
}

.apoio li img {
	display: block;
	margin-bottom: 1em;
	max-height: 100px;
	max-width: 100px;
}

.apoio li a:hover {
	opacity: 0.8;
}

.apoie {
	margin-top: 2rem;
}

.news p {
	text-align: left;
    font-size: 1.1em;
	line-height: 1.5;
}

.social ul {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	align-content: space-around;
}

.social ul li {
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.social ul img {
	display: block;
	margin: 0em auto 1em;
	text-align: center;
}

.social ul img:hover {
	opacity: 0.8;
}

footer p {
	color: #fff;
	text-align: center;
	padding: 2rem;
}

@media(max-width: 600px) {
	header h1 {
		font-size: 2.5em;
		margin: auto;
		padding-top: 2rem;
	}

	header h1:before {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0.5em;
	}

	header .description {
		padding-bottom: 2rem;
	}

	h2 {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	.container {
		padding-bottom: 2rem;
	}

	.questions {
		padding-top: 0;
	}

	.social ul img {
		width: 35px;
		height: 35px;
	}

	.social ul li {
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}
}


/* DICA DE PALESTRANTE */
.menu .logo {
	text-indent: -9999px;
	display: inline-block;
	background-image: url('../img/logo.png');
	width: 60px;
	height: 42px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	vertical-align: middle;
	margin-right: 1em;
	margin-left: 0;
}

.menu .logo:hover {
	opacity: 0.8;
}

.menu .logo + a {
	margin-left: auto;
}

.speakers {
	display: flex;
	justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
}

.speakers article {
	padding: 1em;
	margin: 1em;
	border-radius: 10px;
	box-shadow: 0px 0px 5px 1px #a1a4bd;
	flex: 1 1 40%;
}

.speakers article > * {
	text-decoration: none;
	color: #474853;
}

.speakers article:hover {
	opacity: 0.8;
	color: #474853;
}

.speakers article h3 {
	font-weight: bold;
	font-size: 1.4em;
}

.speakers article h3 a:hover {
	color: #29C3A6;
}

.speakers article img {
	width: 100%;
	max-width: 500px;
	margin: 1em auto;
    display: block;
}

.speakers article blockquote {
	text-align: justify;
	line-height: 1.3;
}

.speakers article blockquote:before, .speakers article blockquote:after {
	content: '"';
	display: inline-block;
	font-size: 110%;
	font-style: italic;
	padding-left: 0.2em;
	padding-right: 0.2em;
}

.videos {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.videos iframe {
	margin-bottom: 2em;
}

@media(max-width: 600px) {
	.speakers {
		flex-direction: column;
	}

	.speakers article {
		margin-left: 0;
		margin-right: 0;
	}

	.menu {
		flex-direction: column;
	}

	.menu a {
		margin: 0.5em 0;
	}

	.menu .logo + a {
		margin-left: 0;
	}
}