body {
	font-family: 'Montserrat', sans-serif;
}

.container {
	padding-left: 4%;
	padding-right: 4%;
	padding-bottom: 2em;
}

.dark {
	background-color: #192539;
	color: #fff;
}

a {
	text-decoration: underline;
	color: inherit;
}

a:hover {
	color: #4A86E8;
}

h1 {
	color: #ff0089;
	background-color: #192539;
	font-size: 3em;
	text-align: center;
	padding-top: 2.5em;
	padding-bottom: 2.5em;
	font-weight: bold;
}

h2 {
	font-size: 1.7em;
	font-weight: bold;
	padding-top: 2em;
	padding-bottom: 2em;
}

.description {
	text-align: justify;
	line-height: 1.3;
	padding: 5em 2em;
	width: 70%;
	margin: 0 auto;
	font-size: 1.1em;
}

ol {
	margin-left: 1em;
	font-size: 1.1em;
}

ol li {
	list-style-type: decimal;
	line-height: 1.3;
	margin-bottom: 0.5em;
}

.obs:before {
	content: "*";
	display: inline-block;
	padding-right: 0.5em;
}

.obs {
	line-height: 1.3;
	padding-top: 1em;
	margin-top: 1em;
	border-top: 1px dashed #fff;
	font-size: 1.1em;
}

#vontade-palestrar ~ p,
label[for^=vontade-palestrar] + label ~ label {
	display: none;
}

input {
	position: absolute;
	left: -9999px;
}

.questions {
	padding-top: 3em;
	padding-bottom: 5em;
}

.questions p {
	text-align: center;
	font-size: 1.3em;
	margin-bottom: 1em;
}

.questions div {
	display: none;
	text-align: center;
	margin-top: 3em;
}

.questions div#vontade-palestrar {
	display: block;
}

.questions label[for$=sim] {
	background-color: #2BDFC6;
}

.questions label[for$=sim]:hover {
	background-color: #15c1a7;
}

.questions label[for$=nao] {
	background-color: #F37B7C;
}

.questions label[for$=nao]:hover {
	background-color: #e06969;
}

.questions label {
	padding: 1em;
	border-radius: 10px;
	color: #192539;
	margin: 1em;
	display: inline-block;
	cursor: pointer;
	width: 30%;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.1em;
}

.team {
	display: flex;
	justify-content: space-around;
}

.team img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	display: block;
	margin: 0 auto 1em;
}

.team span {
	text-align: center;
	display: block;
	font-size: 1.1em;
}